:root {
  --mc1: #01a3f4;
  --mc2: #feeb1a;
  --hc: #fff;
  --bc: #fff;
  --hff: 'Heebo', sans-serif;
  --bff: 'Nunito', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
html {
  font-family: 'Orbitron', sans-serif;
  scroll-behavior: smooth !important;

}


// .container {
//   background-image: url('/img/homeBackground.png') !important;
//   min-height: 100vh;
//   width: 100% !important;
//   max-width: 100%;
//   background-size: cover !important;
//   background-position: center;
//   position: relative;
//   display: flex !important;
//   align-items: center;
//   justify-content: center;
//   overflow: hidden;
// }
body {
  background-color: #0c1226 !important;
  overflow-y: scroll;
}
